.container {
  width: 500px;
  margin: 0 auto;
}

.image-box {
  width: 100%;
}

img {
  width: 100%;
}

.guess-box {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

.guess-history-box {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.guesses-remaining-box {
  margin-top: 20px;
}

span {
  font-size: 20px;
}